.skill-card{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border: dashed var(--color-accent) 0.5px;
    width: 18rem;
    padding: 0.5rem;
    transition: 1s ease-in-out;
    box-shadow: 1px 3px 3px 0px var(--color-accent);
    font-size: 2rem;
}

.skill-title{
    width: 100%;
    text-align: center;
    color: var(--color-accent);
    border-bottom: dashed var(--color-accent) 0.5px;
    

}
.skill-conteudo p{
  font-size: 1rem;
}
.skill-conteudo span {
  display: inline-block;
}
.skill-conteudo {
    margin-top: .625rem;
}

.skill-conteudo  .arrow-paste{
    transition: ease 1s all;

}


.skill-conteudo .text-line:hover  .arrow-paste{
    transform: rotateZ(45deg);
}

