
.grid-skils{
    background-image: url("..\..\..\public\gif\tumblr_c2fca77d8fd87567e4595f9c14ec924d_78e62251_1280.webp");
    background-size: cover;
    text-shadow:
        -2px -2px 0 black,
        2px -1px 0 black,
        -1px  2px 0 black,
        2px  3px 0 black;
}
.container{
    margin: 1rem;
    gap: 1rem;
    
}   
.skill-tables{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-skils{
    border-top: dashed var(--color-accent) 5px;
    border-bottom: dashed var(--color-accent) 5px;
    padding: 1rem 0rem 1rem 0rem;
    margin-bottom:4rem;

}


