.banner{
    width: 100%;
    margin-top: 2%;
    position: relative;
    margin: 0rem;
    background-image: url("..\..\assets\GIF\tumblr_c2fca77d8fd87567e4595f9c14ec924d_78e62251_1280.webp");
    background-size: cover;
    text-shadow:
        -2px -2px 0 black,
        2px -1px 0 black,
        -1px  2px 0 black,
        2px  3px 0 black;
}

.container-banner{
    width: 100%;
    top:10%;
    position: absolute;
    display: flex;  
    align-items: center;
    justify-content: space-around;


  
}
.container-scene{
    height: 100dvh;
}

.image-banner{
    max-width: 20rem;
    max-height: 20rem;
    height: 50%;
    

}
.image-banner img {
    border-radius: 100%;
    display: block;
    border: solid .125rem var(--color-accent);
    border-style: dashed;
  
}



.text-image h1 {   
 text-shadow: 2px 3px;
  animation: textShadow ease-in-out 1s infinite;  
}


.text-image ul {
    justify-self: end;
    display: flex;
    
}

.text-image li{
    list-style-type: none;
}
@media(max-width: 480px) {   
    .image-banner{
        max-width: 10rem;
        max-height: 10rem;
        height: 50%;
    }
    .container-scene{
        height: 100%;
    }
    
}