.Projects {
    display: grid;
    margin: 2rem;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    gap: 5rem;
}

@media(max-width: 991px) {   
.Projects {

    grid-template-columns: 90%;
 
}
}