:root {
  --color-azul: #a2fffa;
  --color-bg: #d8f7ff;
  --color-accent: #ffffff;
  --color-bg: #0a0a0a;

  --font-large: 140px;
  --font-regular: 14px;
  --font-small: 12px;
  --font-tiny: 10px;
}
@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./assets/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}