
.skill {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 12rem;
    background-color: var(--color-accent);
    border: dashed 2px black ;
    transition: 1s ease-in-out;
  }

  .skill-icon img{
    object-fit:scale-down;
    height: 6rem;
    width: 6rem;
  }
@media(max-width: 991px) {
    .skill{
            height: 6rem;
            width: 10rem; 
    }
    .skill-icon img{
       height: 4rem;
       width: 4rem;
    }
}

@media(max-width: 480px) {
     .skill{
            height: 4rem;
            width: 8rem; 
    }
    .skill-icon img{
       height: 2.5rem;
       width:  2.5rem;
    }
}


 
 .skill:hover{
    border: dashed 2px rgb(218, 0, 0) ;

  }
 
  

  
  
 
 
