

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Satoshi";
  background-color: var(--color-bg);
  overflow-x: hidden;
}

h1,
p,
a,
span {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 100%;

  color: var(--color-accent);
}

h1 {
  font-size: var(--font-large);
  font-weight: 400;
  color: var(--color-accent);

}
h2 {
  font-size: var(--font-regular);
  font-weight: 400;
  color: var(--color-accent);

}

h1 span {
  position: relative;
  display: inline-block;
  transform: translateX(100%);
  font-size: var(--font-large);
  font-weight: 400;
}

p,
a {
  font-size: var(--font-regular);
  font-weight: 500;
}

span {
  font-size: var(--font-small);
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.letter {
  display: inline-block;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}



@media (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  h1 span {
    font-size: 1.5rem;
  }

  .footer-row:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }

  .card {
    width: 200px;
  }

  .card-3 {
    left: 50%;
  }
}
