:root {
  --color-add: #3b82f6;
  --color-accent: #e2e8f0;
  --color-bg: #0d1117;
  --color-surface: #161b22;
  --color-border: #30363d;
  --color-muted: #8b949e;

  --font-max-large: 6.25rem;
  --font-large: 4rem;
  --font-regular: 1rem;
  --font-small: 1.5em;
  --font-tiny: .625rem;
}

body {
  background-color: var(--color-bg);
  color: var(--color-accent);
  font-family: 'Satoshi', sans-serif;
}
@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./assets/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
}


html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar{
  width: .125rem;
  background-color: var(--color-bg);
  transition: 1s ease;
 
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-accent);
  transition: 10s;
}
::-webkit-scrollbar-track{
  background-color: var(--color-bg);
  border: .3125rem solid var(--color-accent);
  border-style: dashed;

}
